*
{
    font-family: Consolas, 'Courier New', monospace;
    color:white;
}

body
{
    background-color: rgb(40, 0, 0);
}

header
{
    background-color: rgb(110, 0, 0);
    padding-bottom: 0px;
}

nav
{
    background-color: rgb(50, 0, 0);
    padding-top: 0px;
    padding-bottom: 20px;
}

main
{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    border-spacing: 5px;
    flex-direction: column;
    background-color: rgb(50, 0, 0);
    padding-bottom: 20px;
    padding-left: 5px;
    text-indent: 10px;
}

.main-flex-divider
{
    /*Used for images and videos in the same container.*/
    display: flex;
}

.main-flex-item
{
    color: white;
    background-color: rgb(110, 0, 0);
    padding-bottom: 5px;
}

footer
{
    background-color: rgb(110, 0, 0);
}

.important-text
{
    color: rgb(125, 0, 200);
}