body
{
    /*
    Fits the theme of what I'm creating as text will end up being combinations of white and green.
    I plan on making the font fit the idea of using a terminal rather than a website in a sense.
    Obviously, I can't *actually* make a terminal with only HTML and CSS unless I get SUPER creative,
    it's just better for more programming side of things rather than coding. What I mean is that Coding is like how HTML and CSS is,
    where it's basic commands with results you can expect in that order. Programming to me is for more complex cases like making a calculator.
    */
    background-color: black;
}

header, nav, main, footer
{
    /*
        The font is not apart of auto-fill but I found it in VS Code's settings,
        I wanted to give it the 'programmer'/'coding' feel... so having a font
        that gets used by Visual Studio was my idea to make it feel like it is.

        The only issue is that I will need to test it on a device that doesn't have 
        VS Code or VS and that isn't on windows, like mobile for example to see if it works.
    */
    border: 5px, solid, white;
    color: white;
    font-size: 17px;
    font-family: Consolas, 'Courier New', monospace;
    outline: rgb(0, 255, 0); /*Brighter green than green... lightgreen is just a large amount of white with green. I just want 255 green.*/
    outline-style: dotted;
    outline-offset: 2px;
    text-indent: 1.5%;
}

header
{
    outline-style: solid;
    text-indent: 1%;
}

nav
{
    padding-top: 0px;
}

.border-spacer-main /*From nav to main.*/
{
    padding: 15px;
}

main
{
    padding-top: 0px;
    width: 75%;
}

.border-spacer-footer /*From main/aside to footer.*/
{
    padding: 20px;
}

/*-- TEXT CLASSES --*/
.important-text /* NOTE TO SELF: Use LABEL for this. It works, it doesn't create new lines, it's just better. */
{
    color: rgb(0, 255, 0);
    font-size: 18px; /* Making it only *slightly* bigger to make it pop out that much more. */
    font-weight: 1000;
}